<h1><%= @listing.title %></h1>

<%= image_tag @listing.picture if @listing.picture.attached? %>
<p><%= @listing.description %></p>
<p><%= @listing.breed.name %></p>

<button>Pay Deposit $<%= number_with_precision(@listing.deposit / 100.0, precision: 2) %></button>